aws_region   = "us-east-1"
cluster_name = "quickslot-eks"

frontend_image             = "docker.io/nimeshsv814/tf-frontend:v6.0.8"
auth_service_image         = "docker.io/nimeshsv814/tf-auth-service:v4.0.0"
parking_service_image      = "docker.io/nimeshsv814/tf-parking-service:v5.0.0"
booking_service_image      = "docker.io/nimeshsv814/tf-booking-service:v6.0.8"
payment_service_image      = "docker.io/nimeshsv814/tf-payment-service:v6.0.6"
scheduler_service_image    = "docker.io/nimeshsv814/tf-scheduler-service:latest"
notification_service_image = "docker.io/nimeshsv814/tf-notification-service:v4.0.0"

jwt_secret          = "replace-me"
internal_api_key    = "replace-me"
seed_admin_email    = "admin@parking.com"
seed_admin_password = "replace-me"
seed_user_email     = "user@parking.com"
seed_user_password  = "replace-me"
razorpay_key_id     = "replace-me"
razorpay_key_secret = "replace-me"
razorpay_currency   = "INR"
gemini_api_key      = ""
gemini_model        = "gemini-2.5-flash"
